<div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/indexAnonymousObjects">Anonymous Objects</a></li>
        <li><a href="/indexDynamic">Expando Object</a></li>
        <li><a href="/indexJson">Json</a></li>
        <li><a href="/about">About</a></li>        
    </ul>
</div><!--/.nav-collapse -->